DataFactory/PL_UTIL_Refresh_PowerBI.json
{
    "name": "PL_UTIL_Refresh_PowerBI",
    "properties": {
        "activities": [
            {
                "name": "Call Dataset Refresh",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Get AAD Token",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "https://api.powerbi.com/v1.0/myorg/groups/@{pipeline().parameters.PBIAppWorkspaceId}/datasets/@{pipeline().parameters.PBIDatasetId}/refreshes",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Authorization": {
                            "value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
                            "type": "Expression"
                        }
                    },
                    "body": {
                        "hello": "world"
                    }
                }
            },
            {
                "name": "Get AAD Token",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": true
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "https://login.microsoftonline.com/@{pipeline().parameters.TenantID}/oauth2/token",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": {
                        "value": "grant_type=client_credentials&resource=https://analysis.windows.net/powerbi/api&client_id=@{pipeline().parameters.ClientID}&client_secret=@{encodeUriComponent(pipeline().parameters.Secret)}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Until Refresh Complete",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "Call Dataset Refresh",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(equals('Unknown',variables('RefreshStatus')))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Wait 30 seconds",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 1
                            }
                        },
                        {
                            "name": "Get Dataset Refresh Status",
                            "type": "WebActivity",
                            "dependsOn": [
                                {
                                    "activity": "Wait 30 seconds",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "https://api.powerbi.com/v1.0/myorg/groups/@{pipeline().parameters.PBIAppWorkspaceId}/datasets/@{pipeline().parameters.PBIDatasetId}/refreshes?$top=1",
                                    "type": "Expression"
                                },
                                "method": "GET",
                                "headers": {
                                    "Authorization": {
                                        "value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
                                        "type": "Expression"
                                    }
                                }
                            }
                        },
                        {
                            "name": "Set RefreshStatus",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Get Dataset Refresh Status",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "RefreshStatus",
                                "value": {
                                    "value": "@activity('Get Dataset Refresh Status').output.value[0].status",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "timeout": "7.00:00:00"
                }
            },
            {
                "name": "Refresh Succeeded",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Until Refresh Complete",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('RefreshStatus'),'Completed')",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Fail Pipeline",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": "https://ThrowAnError",
                                "method": "POST",
                                "body": "Fail"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "PBIAppWorkspaceId": {
                "type": "string",
                "defaultValue": "f2e40aba-27dd-4bea-8dcf-85bfdd6d03e444"
            },
            "PBIDatasetId": {
                "type": "string",
                "defaultValue": "d44a3cbe-2326-44c0-a94c-6ae10e94831b"
            },
            "TenantID": {
                "type": "string",
                "defaultValue": "f11f5351-7c18-46dc-8dec-9dad4015680c"
            },
            "ClientID": {
                "type": "string",
                "defaultValue": "6d6292a7-8dfc-4bd1-ba07-b4346ad5c883"
            },
            "Secret": {
                "type": "string",
                "defaultValue": "xxxyyyzzz"
            }
        },
        "variables": {
            "RefreshStatus": {
                "type": "String",
                "defaultValue": "Unknown"
            }
        },
        "annotations": [],
        "lastPublishTime": "2020-10-16T10:01:14Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}